In [7]:
#import dependencies

import pandas as pd

In [9]:
#data loading
data_1 = pd.read_csv("JC-201901-citibike-tripdata.csv", error_bad_lines=False)
data_2 = pd.read_csv("JC-201902-citibike-tripdata.csv", error_bad_lines=False)
data_3 = pd.read_csv("JC-201903-citibike-tripdata.csv", error_bad_lines=False)
data_4 = pd.read_csv("JC-201904-citibike-tripdata.csv", error_bad_lines=False)
data_5 = pd.read_csv("JC-201905-citibike-tripdata.csv", error_bad_lines=False)
data_6 = pd.read_csv("JC-201906-citibike-tripdata.csv", error_bad_lines=False)
data_7 = pd.read_csv("JC-201907-citibike-tripdata.csv", error_bad_lines=False)
data_8 = pd.read_csv("JC-201908-citibike-tripdata.csv", error_bad_lines=False)
data_9 = pd.read_csv("JC-201909-citibike-tripdata.csv", error_bad_lines=False)
data_10 = pd.read_csv("JC-201910-citibike-tripdata.csv", error_bad_lines=False)
data_11 = pd.read_csv("JC-201911-citibike-tripdata.csv", error_bad_lines=False)
data_12 = pd.read_csv("JC-201912-citibike-tripdata.csv", error_bad_lines=False)

In [12]:
connected_data = [data_1,data_2,data_3,data_4,data_5,data_6,data_7,data_8,data_9,data_10,data_11,data_12]

In [13]:
citi_results = pd.concat(connected_data)
citi_results.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0